/* Brown background for the rest of the page */
body{
    background-color: skyblue;
}
.pageOne {
    margin: 15px 300px;
    text-align: center;
    box-shadow: 10px 10px 10px 10px black;
    background-color: skyblue;
}

/* Applies beige color to the background of the box*/
.Facts{
    background-color: beige;
    border: solid 2px black;
    padding-bottom: 3%;
    height: 30vh;
    font-weight: 900;
    font-size: 5vh;
}

/* Increasing the font size for easier visibility  */
#disclaimer{
    font-size: 2vh;
    background-color: gold;
}
/* Increased button size and font */
#nextBtn {
    width: 150vh;
    height: 5vh;
    font-weight: 900;
    font-size: larger;
}

/* Font size and margin space for character names */
#charName {
    margin: 5vh;
    font-size: 5vh;
}

#backBtn {
    width: 60vh;
    height: 5vh;
    font-weight: 900;
    font-size: larger;
    
}

.imgDisplay{
    margin: 1vh 75vh;
    text-align: center;
    box-shadow: 10px 10px 10px 10px black;
    background-color: skyblue;
}